/* search container */

#search-container {
    background-image: url("../../img/banner.jpg");
    background-size: cover;  /*mostra a imagem inteira*/
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}